@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
/* banner styles */
.banner-container {
  max-width: 1320px;
  margin: 0 auto;
  min-height: 600px;
  margin-top: 28px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/Banner\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-blend-mode: overlay; */
}
.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}
.banner-content p {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
.banner-content h1 {
  color: white;
  font-size: 72px;
  font-weight: 900;
}
/* all categories style */
.categories {
  display: flex;
  width: 802.9px;
  height: 806px;
  margin: 120px auto;
  flex-direction: column;
  align-items: center;
  
}
.titles {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
}
.categories-titles-heading1, .categories-titles-heading2 {
  color: rgb(255, 0, 0);
  font-size: 25px;
  font-weight: 700;
}
.categories-titles-heading1 {
  margin-bottom: 40px;
}
.categories-titles-description {
  color: rgb(7, 2, 17);
font-size: 30px;
font-weight: 700;
}
.categories-image {
  width: 100%;
  height: 100%;
}

/* midnight party styles */
.midnight-party {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(images/Vectorrr.png);
}
.left-div{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 126px;
}
.right {
  width: 35%;
  height: 100%;
}
.title {
  color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
margin-bottom: 24px;
}
.midnight-description {
  color: rgba(255, 255, 255, 0.8);
/* font-family: Inter; */
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 48px;
}
.join-now {
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
/* text-align: center; */
text-transform: uppercase;
margin-right: 158px;
}
.right {
  margin-right: none;
  margin-left: 105px;
  margin-top: 68px;
  margin: 67px;
}
/* event-details styles */
.event-details {
  /* Vector */
  border: 2px solid red;
/* position: absolute; */
width: 1320px;
height: 482px;
margin: 0 auto;
margin-top: 120px;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  text-align: center;
}
.join-now {
  border: none;
  border-radius: 8px;
  background: rgb(255, 0, 0);
  padding: 16px 32px 16px 32px;
  margin: 0 auto;
  margin-top: 48px;
}